.catalog{
  width: 200px;
  border-right: 1px solid #ddd;  
  padding-top: 20px;
  position: fixed;
  top: 80px;
  bottom: 0;
  margin-bottom: 0;
  li{
    list-style: none;
    a{
      display: block;
      padding-top:10px; 
      padding-bottom:10px; 
      color: #34495e;
    }
  }
}