extend ../includes/layout

block content
  +navbar('About me')
  .page-content.container.about-me
    .row.summry
      .avatar.pull-left
        img(src="/images/avatar.jpg")
      .pull-left
        h1 Abot Chen
        .contact-info
          a.text-link(href="javascript:void(0)")
            i.fa.fa-male
            | Male / 28 / Married
          a.text-link(href="mailto:xiunen@163.com")
            i.fa.fa-envelope 
            | xiunen@163.com
        
          a.text-link(href="javascript:void(0)")
            i.fa.fa-wechat 
            | zokala
        
          a.text-link(href="javascript:void(0)")
            i.fa.fa-map-marker 
            | Nanshan District, Shenzhen, Guangdong Province, China

    h3 Education
    .row
      .col-sm-2 2008.9 - 2012.6
      .col-sm-10
          h4 Notheastern University, China (NEU)
          div NEU is one of top 40 universities in China.
          div Bachelor of Software Engineer. Rank 15% of college.
    
    h3 Career
    .row
      .col-sm-2 2014.3 -——
      .col-sm-10
        h4 Technical advisor of MedLink
        div MedLink is a lead SaaS company of medical matters in China.


    .row
      .col-sm-2 2012.1 - 2015.4
      .col-sm-10
        h4 Senior Frontend Engineer of Baidu Inc.
        div Baidu is the best Search Engine in Chinese of the world.


    h3 Programing Experiences and Skills
    .row
      ul
        li
          h4 Experienced Frontend developer.
          ul
            li template: html, jade, slim, smarty, blade
            li css: CSS, SASS, LESS, Bootstrap
            li js: Javascript, jquery, angualar, vue, requirejs
            li visualize: highcharts, echarts, d3
            li tools: grunt, gulp
        li
          h4 Developed Backend with several Language and framework. Such as:
          ul
            li Ruby: Ruby on Rails
            li PHP: Yii, ThinkPHP, Laravel
            li Java: Play!
            li Node.js: Express, Sails
        li
          h4 Experiences and Skills
          ul
            li Data Visualize.
            li Web Application, including frontend, backend, deployment, cdnizer.
            li HTML5 Web application, including mobile website and hybrid app.
            li MIS, including server side, browser side, encode, pack, deployment.

    h3 Hobbies
    .row
      ul
        li
          h4 Writing  
          div
            | Post several blog on 
            a(href="http://www.toutiao.com/m3299204390/") 今日头条
            |, and pv is more than 700,000.
          div
            | A blog was recomended by 
            a(href="http://www.huxiu.com/article/12522/1.html") 虎嗅
            |, which is lead tech media in China.
        li
          h4 Social Activities with Entrepreneurs
          div Keep in touch with a lot of entrepreneurs and provide suggestions for their ideas.
        li
          h4 Sports
          div Play basketball every weekend with colleages and schoolmates.
        li
          h4 Reading
          div Read at least 6 books every year.



