.navbar + * {
  margin-top: 80px; }

.navbar {
  border-bottom: 1px solid #ddd; }
  .navbar li {
    padding: 25px; }
    .navbar li a {
      color: #34495e;
      padding: 2px; }
      .navbar li a:hover {
        background: transparent; }
    .navbar li.active a {
      border-bottom: 3px solid #42b983; }

.inline {
  display: inline-block; }

.navbar-brand {
  line-height: 50px;
  height: 80px;
  font-size: 24px;
  font-weight: bolder;
  padding-left: 40px;
  padding-right: 40px; }

a.text-link {
  color: #666; }

.profile {
  top: 80px;
  width: 400px;
  position: absolute;
  left: 0;
  bottom: 0;
  border-right: 1px solid #ddd; }
  .profile .experience {
    list-style: none;
    padding: 20px; }
    .profile .experience h3 {
      margin-top: 30px;
      font-size: 16px; }
      .profile .experience h3 i {
        padding-right: 10px; }
      .profile .experience h3 ~ div {
        padding-left: 30px; }

.catalog {
  width: 200px;
  border-right: 1px solid #ddd;
  padding-top: 20px;
  position: fixed;
  top: 80px;
  bottom: 0;
  margin-bottom: 0; }
  .catalog li {
    list-style: none; }
    .catalog li a {
      display: block;
      padding-top: 10px;
      padding-bottom: 10px;
      color: #34495e; }
