
- var catalogs = ['Project Management', 'Engineering', 'Server / Deployment', 'Security', 'Database', 'Frontend', 'Ruby / Ruby on Rails', 'PHP', 'Java', 'Golang', 'Python', 'Test', 'Toolkits'];

ul.catalog
  each item in catalogs
    li
      a(href="/pages/blog.html##{item}")= item
