.profile
  h1.text-center Abot Chen
  .text-center
    a.text-link(href="mailto:xiunen@163.com")
      i.fa.fa-envelope 
      | &nbsp;xiunen@163.com


  ul.experience
    li
      h3 
        i.fa.fa-envira
        | Technical Adviser of MedLink
      div 2014.3 -
      div MedLink is a lead SaaS company of medical matters in China.
    li
      h3 
        i.fa.fa-envira
        |  Senior Frontend Engineer of Baidu
      div 2014.3 - 2015.4
      div Baidu is the best Chinese Search Engine of the world.
    li
      h3 
        i.fa.fa-envira
        |  Frontend Engineer of Baidu
      div 2012.1 - 2014.3
    li
      h3
        i.fa.fa-envira
        |  B.A. of Northeastern University, China(NEU)
      div 2008.9 - 2012.6
      div NEU is one of top 40 university in China.